<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
    <!-- html injected used this include statement -->
    <%include partial/nav.ejs %>
    <h1>Welcome to the awesome website</h1>
    <p>you will not find the website better anywhere else</p>
</body>
</html>