<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background:skyblue;font-family:verdana;color:#fff;padding:30px;}
        h1{font-size:48px;text-transform: uppercase;letter-spacing:2px;text-align:center;}
        p{font-size: 16px;text-align: center;}
    </style>
    <title>Document</title>
</head>
<body>

    <!-- html injected used this include statement -->
    <%include partial/nav.ejs %>
    <h1>Contact me</h1>
    <p>wcao2@masonlive.gmu.edu</p>
    <p><%=qs1.dept%></p>

    <form id="contact-form">
        <label for="who">Who do you want to contact?</label>
        <!-- inject some content dynamically into input field of this form -->
        <input type="text" name="who" value="<%=qs1.person%>"/>
        <label for="department">which department?</label>
        <input type="text" name="department" value="<%=qs1.dept%>"/>
        <label for="email">your email</label>
        <input type="email" name="email"/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>