<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background:skyblue;font-family:verdana;color:#fff;padding:30px;}
        h1{font-size:48px;text-transform: uppercase;letter-spacing:2px;text-align:center;}
        p{font-size: 16px;text-align: center;}
    </style>
    <title>Document</title>
</head>
<body>

    <!-- html injected used this include statement -->
    <%include partial/nav.ejs %>
    <h1>Contact me</h1>
    <p>wcao2@masonlive.gmu.edu</p>
    <p>thanks to touch</p>
    <p>You contacted <%=data.who%>in the department of <%=data.department%></p>
    <p>we will replay u at <%=data.email%></p>
</body>
</html>